<h1>Hero App</h1>

<p>Characters <%= link_to "View Characters", characters_path %></p>
<p>Abilities <%= link_to "View Abilities", abilities_path %></p>
<p>Universes <%= link_to "View Universes", universes_path %></p>