<h1>Characters</h1>

<%= link_to "Create New Character", new_character_path %>

<br />
<br />
<table>
  <tr>
    <th>Hero Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Universe</th>
    <th></th>
    <th></th>
  </tr>
  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= link_to(character.hero_name, character_path(character)) %></td>
        <td><%= character.first_name %></td>
        <td><%= character.last_name %></td>
        <td><%= character.universe %></td>
        <td><%= link_to "edit", edit_character_path(character) %></td>
        <td><%= link_to "delete", character_path(character), method: :delete, data: {confirm: "Are you sure you want to delete this character?"}%></td>
      </tr>
    <% end %>
  </tbody>
</table>

