<%= link_to "Back to Character List", characters_path %>

<p>
  <strong>Hero Name:</strong> <%= @character.hero_name %>
</p>

<p>
  <strong>First Name:</strong> <%= @character.first_name %>
</p>

<p>
  <strong>Last Name:</strong> <%= @character.last_name %>
</p>

<p>
  <strong>Universe:</strong> <%= @character.universe.try(:name) %>
</p>

<p>
  <strong>bio:</strong> <%= @character.bio %>
</p>

<p>Ablities</p>
<ul>
  <% @character.abilities.each do |ability| %>
    <li><%= ability.name %></li>
  <% end %>
</ul>

<br />
<% if current_user %>
  <td><%= link_to "edit", edit_character_path(@character) %></td>
<% end %>

