<%= link_to "Back to Universe List", universes_path %>

<p>
  <strong>Universe Name:</strong> <%= @universe.name %>
</p>

<br />
<% if current_user %>
  <td><%= link_to "edit", edit_universe_path(@universe) %></td>
<% end %>

